/.cache
/dist
/electron/node_modules
/electron/assets
/electron/index.*
/electron/dist
/node_modules
/package-lock.json
/electron/package-lock.json
/.DS_Store
/src/old/*
/versions/*
/.parcel-cache
/pkg/cutie-tanks*/pkg
/pkg/cutie-tanks*/src
/pkg/cutie-tanks*/cutie-tanks
/pkg/cutie-tanks*/cutie-tanks-*.pkg.tar.zst
/pkg/cutie-tanks*/release.zip
*~